<div id="<%= dom_id group %>" class="group bg-AppWhite mb-4 rounded px-3 py-3 flex justify-between items-center">
  <div class="flex space-x-5 description items-center">
    <% if group.icon.attached? %>
      <div class="h-20 w-12">
        <img src="<%= url_for(group.icon) %>" alt="img" class="cat-img object-cover h-full rounded-md">
      </div>
    <% end %>
    <div class="flex flex-col h-full space-y-5">
      <p class="text-AppGrayDark font-bold"><%= group.name %></p>
      <p class="text-xs text-AppGray font-normal"><%= group.created_at.strftime('%d %B %Y') %></p>
    </div>
  </div>
  <div class="flex flex-col h-full space-y-5">
    <p class="text-AppGrayDark font-bold text-2xl">$<%= group.total_expense %></p>
    <div class="remove"><%= button_to "Delete", group_path(group.id),  method: :delete, data: { turbo_confirm: "Are you sure?" } %></div>
  </div>
</div>
