<section class="bg-AppWhite h-full flex flex-col items-center">
  <nav class="w-full flex justify-between items-center bg-AppBlue text-white h-10 px-3">
    <%= link_to unauthenticated_root_path do %>
      <i class="fa fa-arrow-left link-hover"></i>
    <% end %>
    <h1 class='font-ProximaBold font-medium'>Login</h1>
    <i class="fa fa-searc link-hover"></i>
  </nav><br/>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field w-full">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field w-full">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions border-gray-100 bg-[#31e739]
     px-2 py-2 mt-1 mb-4 h-[40px] text-white rounded-md
      flex justify-center items-center w-full">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'devise' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end %>
</section>
